<div class=" bg-[bg-cyan-100] h-[91vh]">
    
    
    <div class="translate-x-0 lg:translate-x-[10vw] xl:translate-x-[10vw] text-black mx-4 md:mx-12 mt-16">

        <div class="items-center gap-2 hidden ">
            <img src="/logo.svg" alt="logo" class="w-7 h-7">
            <p class="logo text-xl">
                Health Challenge Tracker
            </p>
        </div>
        
        <h1 class="text-6xl heading font-bold mt-4">
            Do 15 minutes workout <br/> everyday 
        </h1>

        <p class="text-lg mt-6 mr-6">
            Start workouts from today onwards.
        </p>

        <button class="bg-cyan-100 text-cyan-950 p-2 font-bold rounded mt-10">
            <a routerLink="/explore" class="flex items-center gap-1">
                <i class="pi pi-compass" style="font-size: 1rem;"></i>
                See My Workouts
            </a>
        </button>
    </div>

</div>
